@{
    ViewData["Title"] = "Login Or Register";
    
}

<div class="container">
    <div class="row">
<div class="col px-lg-5">
<!-- <partial name = "Register"/> -->
@Html.Partial("Register")
</div>

<div class="col px-lg-5">
<!-- <partial name = "Login"/> -->
@Html.Partial("Login")
</div>

</div>
</div>