@model EntryCreation;
<form asp-action="DoCreateEntry" asp-controller="CostumeContest" method="POST">
<span asp-validation-for="CostumeName"></span>
    <div class="form-group row">
        <label asp-for="CostumeName">Costume Title</label>
        <input asp-for="CostumeName" class="form-control">
        <span asp-validation-for="CostumeName" class="form-text text-muted"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="form-text text-muted"></span>
    </div>
    <input type="Submit" class="btn btn-primary" value="Get To Winning">
</form>