@{
    ViewData["Title"] = "Costume Contest";
}
@model VotingViewModel;


<div class="container">
    <h1>Welcome to the first annual Spooky Barn Bash</h1>
    <div class="row">
        Create or Update Your Entry
        <a href="create">Create</a>
    </div>
    <div class="row">
        Your Votes
    </div>
    <div class="row">
        All Costumes
    </div>
</div>